<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="https://m.media-amazon.com/images/G/01/zappos/melody/Logo_Blue._V531669988_.svg" style="width: 100px; margin-bottom: 10px;"> </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/welcome/story">The Story</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="on"><a href="/welcome/about">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header">
  <h1>About ME:  <small>  DANA CHUNG</small></h1>
  </div>
<h3 class="aboutme"> <p>My name is Dana Chung and I am junior at Williams College! I am a computer science major and biology major. I am originally from Orange, Connecticut and I am a competitive varsity swimmer! In my free time I love to spend time outdoors (Williams is known for our AMAZING mountains) and reading. </p>

<p>My love for programming started two years ago when I completed an intensive  computer programming/entrepreneurship program. I learned how to develop ideas into products and create these products with coding. I realized how much power design and coding has on making a difference and a valuable product. I realized I am super excited about front-end development because I saw how coding and especially designing with HTML/CSS gives me the ability create new websites, new products, and many other new things. </p>

<p>Also, This past summer I worked at a venture backed tech company that screens genomes to determine the best cancer treatment and drug regimes. As the first company's female developer, I helped implement automated QA testing across all API endpoints. In addition to that (also my most favorite part), I coded and help design key componenets including search, detail and design elements for the next generation web application platform called My Cancer Genome 2.0. I worked heavily with Django/Python, HTML/CSS and JavaScript to contribute features that are to be used on their website.</p>

<p>My experience working at such a small start up gave me great start to learning about this career field. I am beyond excited to learn so much more at Zappos :) </p>

</h3>



</div>
