<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="https://m.media-amazon.com/images/G/01/zappos/melody/Logo_Blue._V531669988_.svg" style="width: 100px; margin-bottom: 10px;"> </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="on"><a href="/welcome/story">The Story</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/welcome/about">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">

  <div class="page-header">
  <h1>THE MAJESTIC LLAMA : <small>  The STORY and FUN FACTS about this majestic furry animal</small></h1>
  </div>

<h3 class="story"> <p>As researched online, from an article written by Richard Feloni there is a long history regarding Zappos and the majestic llama. Part of the story is included below:</p>

<p class="article">About 12 years ago, Zappos CEO Tony Hsieh created a set of principles for the multibillion-dollar online shoe and apparel retailer that included "Create fun and a little weirdness."</p>

<p class="article">He's truly led by example, and that's one of the reasons why he lives in a 240-square-foot trailer with a couple of alpacas despite having a net worth of "at least $780 million," according to Wealth-X. . .</p>

<p class="article">We recently interviewed Hsieh in Vegas, and he explained why his minimalist lifestyle has enhanced his creativity. "I did it because I wanted to maximize serendipity and randomness in my life," he said.</p>

<p class="article">He was inspired by the minimalism and creativity of Burning Man, the annual event where people from around the world gather in Nevada's Black Rock Desert for a week to work together to create a bizarre, artsy community.</p>

<p class="article">Since he's moved into the park, he's been embedded in the neighborhood he is helping rebuild, and can more easily develop relationships with its entrepreneurs. . .</p>

<p class="article">As for the alpacas (often referred to as llamas by Hsieh and his friends) — well, they just happen to be Hsieh's favorite animal, and they make for a great conversation starter with neighbors and visitors. </p>

<p> As you can see, the majestic llama allows for ENHANCED CREATIVITY and IMPROVED RELATIONSHIPS. Llamas are amazing and here are some fun facts: </p>


  <ul class>
    <li class="llama"> A llama has <b>elongated face</b>, <b>large nostrils</b> and <b>long ears</b> that are slightly curved inwardly characteristically known as “banana” shaped.
    <li class="llama">Llama’s have an excellent sense of smell, eyesight and hearing.</li>
    <li class="llama">They can reach speeds up to 56 kilometer (35 miles) per hour.</li>
    <li class="llama">Llamas are a very gentle, shy and a very curious animal.</li>
    <li class="llama">They are also intelligent and can learn simple tasks after a few repetitions.</li>
    <li class="llama">Llamas contribute much more than transportation to the human communities in which they live. Leather is made from their hides, and their wool is crafted into ropes, rugs, and fabrics. Llama dung makes great fuel—and fertilizer. In fact, it may have helped the Incans grow corn and survive in the Andes.</li>
</h3>
</div>
